body {
    width: 1020px;
    margin: 0;
}

h2 {
    font-family: 'Lato';
    font-weight: 900;
    font-size: 30px;
    line-height: 18px;
    margin: 0px;
    text-transform: capitalize;
    padding: 67px 40px 16px;
}

.portfolio {
    height: 864px;
    border-bottom: 6px solid #323746;
    background-color: #2d303a;
    color: #666d89;
}

.portfolio-text {
    font-family: 'Lato';
    font-size: 18px;
    line-height: 30px;
    padding: 10px 10px 10px 40px;
    margin: 0;
}

.btn-line{
    padding-left: 40px;
}

.port-btn{
    text-decoration: none;
    font-family: 'Lato';
    font-size: 12px;
    line-height: 21px;
    color: #666d89;
    text-transform: capitalize;
    font-weight: 500;
    border: 1px solid #666d89;
    border-radius: 5px;
    padding: 3px 5px;
    margin-right: 10px;
}
.port-btn:hover{
   color: white; 
   border-color: white;
}

.pics {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(3, 187px);
    grid-gap: 20px;
    padding: 25px 40px 67px;
}

.block-pic-1 {
    background: url('assets/pic1.png');
    background-position: center;
}

.block-pic-2 {
    background: url('assets/pic2.png');
    background-position: center;
}

.block-pic-3 {
    background: url('assets/pic3.png');
    background-position: center;
}

.block-pic-4 {
    background: url('assets/pic4.png');
    background-position: center;
}

.block-pic-5 {
    background: url('assets/pic5.png');
    background-position: center;
}

.block-pic-6 {
    background: url('assets/pic6.png');
    background-position: center;
}

.block-pic-7 {
    background: url('assets/pic7.png');
    background-position: center;
}

.block-pic-8 {
    background: url('assets/pic8.png');
    background-position: center;
}

.block-pic-9 {
    background: url('assets/pic9.png');
    background-position: center;
}

.block-pic-10 {
    background: url('assets/pic10.png');
    background-position: center;
}

.block-pic-11 {
    background: url('assets/pic11.png');
    background-position: center;
}

.block-pic-12 {
    background: url('assets/pic12.png');
    background-position: center;
}
.about{
    background-color: #f2f2f2;
    border-bottom: 6px solid white;
    color: #666d89;
    height: 728px;
}
.persons-block{
    display: flex;
    padding: 0 30px;
}
.person-block{
    padding: 10px;
}
.person-text{
    font-family: 'Lato';
    font-size: 12px;
    line-height: 21px;
    margin: 0 0 24px;
}
.about-text{
    font-family: 'Lato';
    font-size: 18px;
    line-height: 30px;
    padding: 0 40px 10px;
}
h3{
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 900;
    line-height: 17px;
    text-transform: capitalize;
    margin: 14px 0;
}
.soc-block{
    display: flex;
}
.soc-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #666d89;
    border-radius: 50%;
    margin-right: 8px;
    width: 15px;
    height: 15px;
    padding: 8px;
}