body{
    margin: 0;
    max-width: 1024px;
}
header{
    padding: 0 25px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    background-color: #2d303a;
    font-family: 'Lato';
    border-bottom: 6px solid #323746;
    height: 89px;
}
h1{
    color: white;
    font-size: 25px;
}
span{
    color: #f06c64;
}
nav{
    display: flex;
    align-items: center;
    color: gray;
}
.head-btn{
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 0 15px;
    font-weight: 600;
}
.head-btn:hover{
    color: #f06c64;
}
.dot{
    margin-bottom: 18px;
}
.slider{
    display: flex;
    align-items: center;
    background-color: #f06c64;
    height: 594px;
    border-bottom: 6px solid #ea676b;
    justify-content: space-around;
}
.arrow-left{
    border-bottom: 5px solid #ca4549;
    border-left: 5px solid #ca4549;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
}
.arrow-right{
    border-bottom: 5px solid #ca4549;
    border-right: 5px solid #ca4549;
    width: 15px;
    height: 15px;
    transform: rotate(-45deg);
}
.our-services{
    display: flex;
    flex-direction: column;
    height: 494px;
    background-color: #f2f2f2;
    border-bottom: 6px solid white;
    padding: 0 30px;
}
.titled-block{
    margin: 0 10px;
}
h2{
    font-size: 30px;
    text-transform: capitalize;
    font-family: 'Lato';
    color: #666d89;
    font-weight: 900;
    margin: 60px 0 18px;
}
h3{
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Lato';
    color: #666d89;
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 18px;
    font-weight: 900;
}
.service-block-big{
    display: flex;
    flex-direction: column;
}
.service-tripple{
    display: flex;
}
.service-pic{
    height: 59px;
    margin-right: 20px;
}
.service-block{
    display: flex;
    flex-direction: row;
    width: 33%;
    margin: 0px 10px 15px;
}
.service-text{
    font-size: 18px;
    font-family: 'Lato';
    color: #666d89;
    line-height: 30px;
    margin-bottom: 50px;
}
.service-descr{
    margin-top: 0;
    font-size: 12px;
    line-height: 22px;
    font-family: 'Lato';
    font-weight: 500;
    color: #666d89;
}
.txt-small{
    display: flex;
    flex-direction: column;
}